{% extends "::base.html.twig" %}

{% block title %}Your items for sale{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Items for sale</h1>

    {{ include("@App/Item/item_filters.html.twig", {"items":items, "availableCategories":availableCategories }) }}
    {% if items|length > 0 %}

        <div class="row">
            {% for item in items %}
                {{ include("@App/Item/item_widget.html.twig", {"item":item, "buyable":true}) }}
            {% endfor %}
        </div>

        <div class="row">
            {{ pagination(items) }}
        </div>
    {% else %}
        <h3>No items are being sold now</h3>
    {% endif %}
{% endblock %}
