<div class="filters">
    <small>Filter by: {{ filter_select(items, "category", availableCategories) }}</small>
    <small>
        Sort by:
        {{ sorter_link(items, "i.createdAt", "Date") }}
        {{ sorter_link(items, "i.price", "Price") }}
    </small>
</div>
