<div class="col-sm-3">
    <div class="item-widget well well-sm">
        <div class="text">
            <h3>
                <a href="{{ path("view-item", {hashid: item.id|hashid_encode}) }}">{{ item.title }}</a>
                <br>
                {{ item.price|price }}
            </h3>
        </div>
        <div class="text">
            <img src="{{ asset('images/products/' ~ item.imageName) | imagine_filter('my_thumb') }}"/>
        </div>
        <div class="text">
            {% if item.description|length>45 %}
                <p>{{ item.description|slice(0, 45) ~ '...' }}</p>
            {% else %}
                <p>{{ item.description }}</p>
            {% endif %}
        </div>
        {% if buyable is defined and buyable %}
            <div class="options">
                {% if app.user %}
                    <form action="{{ path("add-to-basket", {hashid: item.id|hashid_encode}) }}" method="post">
                        <button class="btn btn-primary">Add to cart</button>
                    </form>
                {% else %}
                    <button class="add-cart-button btn btn-primary" data-item-id="{{ item.id|hashid_encode }}">Add to
                        cart
                    </button>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
