{% extends "::base.html.twig" %}

{% block title %}Your items for sale{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Your items for sale</h1>
    {% if items %}
        {{ include("AppBundle:Item:item_filters.html.twig", {"items":items, "availableCategories":availableCategories }) }}

        <div class="row">
            {% for item in items %}
                {{ include("AppBundle:Item:item_widget.html.twig", {"item":item}) }}
            {% endfor %}
        </div>

        <div class="row">
            {{ pagination(items) }}
        </div>
    {% else %}
        <h3>You haven't added any items to sell</h3>
    {% endif %}
{% endblock %}
