{% extends "::base.html.twig" %}

{% block title %}AppBundle:ItemController:add{% endblock %}

{% block main %}

    {% form_theme form 'form/fields.html.twig' %}

    <div class="col-sm-6 col-sm-offset-3">
        <div class="well">
            {{ form_start(form) }}
            <fieldset>
                <legend><i class="fa fa-shopping-bag" aria-hidden="true"></i> {{ 'item.add'|trans }}</legend>
                {{ form_widget(form) }}
            </fieldset>
            <button type="submit" class="btn btn-primary">
                {{ 'item.submit'|trans }}
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
