{% extends "::base.html.twig" %}

{% block title %}{{ item.title }}{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>{{ item.title }}</h1>
    <div class="row">
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>{{ 'label.item.price'|trans }}</strong>
                    <p class="list-group-item-text">{{ item.price|price }}</p>
                </li>
                <li class="list-group-item">
                    <strong>{{ 'label.item.description'|trans }}</strong>
                    <p class="list-group-item-text">{{ item.description }}</p>
                </li>
                <li class="list-group-item">
                    <strong>{{ 'label.item.seller'|trans }}</strong>
                    <p class="list-group-item-text">{{ item.seller.username }}</p>
                </li>
                <li class="list-group-item">
                    <strong>{{ 'label.item.category'|trans }}</strong>
                    <p class="list-group-item-text"><span class="label label-default">{{ item.category }}</span></p>
                </li>
                <li class="list-group-item">
                    <strong>{{ 'label.item.created'|trans }}</strong>
                    <p class="list-group-item-text">{{ item.createdAt|date() }}</p>
                </li>
                <li class="list-group-item">
                    <strong>{{ 'label.item.updated'|trans }}</strong>
                    <p class="list-group-item-text">{{ item.updatedAt|date() }}</p>
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <img src="{{ asset('images/products/' ~ item.imageName) | imagine_filter('bigger_thumb') }}"/>
        </div>
    </div>
    <div class="options">
        {% if app.user %}
            <form action="{{ path("add-to-basket", {hashid: item.id|hashid_encode}) }}" method="post">
                <button class="btn btn-primary">Add to cart</button>
            </form>
        {% else %}
            <button class="add-cart-button btn btn-primary" data-item-id="{{ item.id|hashid_encode }}">Add to
                cart
            </button>
        {% endif %}    </div>
{% endblock %}
