<div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ path('homepage') }}">
            simpleshop
        </a>

        <button type="button" class="navbar-toggle"
                data-toggle="collapse"
                data-target=".navbar-collapse">
            <span class="sr-only">{{ 'menu.toggle_nav'|trans }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">

            {% block header_navigation_links %}
                <li>
                    <a href="{{ path('sell-item') }}">
                        {{ 'menu.sell_item'|trans }}
                    </a>
                </li>

                {% if app.user %}
                    <li class="nav-cart">
                        <a href="{{ path('view-cart') }}">
                            {{ 'menu.my_cart'|trans }}
                            <span class="badge">{{ cartCount }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('view-orders') }}">
                            {{ 'menu.my_orders'|trans }}
                            <span class="badge">{{ pendingOrders }}</span>
                        </a>
                    </li>

                    <li>
                        <a href="{{ path('my-items') }}">
                            {{ 'menu.my_items'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_change_password') }}">
                            {{ 'menu.change_password'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'menu.logout'|trans }}
                        </a>
                    </li>
                {% else %}
                    <li class="nav-cart">
                        <a href="{{ path('view-cart') }}">
                            {{ 'menu.my_cart'|trans }}
                            <span class="cart-badge badge">0</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}">
                            {{ 'menu.register'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">
                            <i class="fa fa-home" aria-hidden="true"></i> {{ 'menu.login'|trans }}
                        </a>
                    </li>
                {% endif %}
            {% endblock %}


        </ul>
    </div>
</div>
