{% form_theme form 'form/fields.html.twig' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register')}) }}
    <fieldset>
        <legend><i class="fa fa-angellist" aria-hidden="true"></i> {{ 'title.register'|trans }}</legend>
        {{ form_widget(form) }}
    </fieldset>
    <button type="submit" class="btn btn-primary">
        {{ 'registration.submit'|trans }}
    </button>
{{ form_end(form) }}
