{% form_theme form 'form/fields.html.twig' %}

{{ form_start(form, { 'action': path('fos_user_change_password') }) }}
    <fieldset>
        <legend><i class="fa fa-bolt" aria-hidden="true"></i> {{ 'title.change_password'|trans }}</legend>
        {{ form_widget(form) }}
    </fieldset>
    <button type="submit" class="btn btn-primary">
        {{ 'security.login.change'|trans }}
    </button>
{{ form_end(form) }}
