{% extends "::base.html.twig" %}

{% block title %}Shopping cart{% endblock %}

{% block body %}
    {{ parent() }}

    <h1>{{ 'title.orders_waiting_for_action'|trans }}</h1>
    {% if pendingOrders|length > 0 %}
        <table class="table table-responsive table-hover table-striped">
            {% for order in pendingOrders %}
                <tr>
                    <td>{{ order.item.title }}</td>
                    <td>{{ order.item.price|price }}</td>
                    <td>{{ order.user.email }}</td>
                    <td>
                        {% for transition in workflow_transitions(order) %}
                    <td>
                        <form method="post"
                              action="{{ path('order_apply_transition', {'transition': transition.name, 'hashid': order.id|hashid_encode}) }}">
                            <button class="btn btn-sm" type="submit">
                                <span class="fa fa-remove"> {{ transition.name|trans|paintWorkflow|raw  }} </span>
                            </button>
                        </form>
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>Empty</h3>
    {% endif %}

    <h1>{{ 'title.your_incoming_orders'|trans }}</h1>
    {% if incomingOrders|length > 0 %}
        <table class="table table-responsive table-hover table-striped">
            {% for order in incomingOrders %}
                <tr>
                    <td>{{ order.item.title }}</td>
                    <td>{{ order.item.price|price }}</td>
                    <td>{{ order.marking|trans|paintWorkflow|raw }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>Empty</h3>
    {% endif %}

    <h1>{{ 'title.your_outgoing_orders'|trans }}</h1>
    {% if outgoingOrders|length > 0 %}
        <table class="table table-responsive table-hover table-striped">
            {% for order in outgoingOrders %}
                <tr>
                    <td>{{ order.item.title }}</td>
                    <td>{{ order.item.price|price }}</td>
                    <td>{{ order.marking|trans|paintWorkflow|raw }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>Empty</h3>
    {% endif %}
{% endblock %}
