<form action="{{ path('fos_user_security_check') }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <fieldset>
        <legend><i class="fa fa-lock" aria-hidden="true"></i> {{ 'title.login'|trans }}</legend>
        <div class="form-group">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" name="_password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'security.login.submit'|trans }}
        </button>
    </fieldset>
</form>
