{% extends 'base.html.twig' %}

{% block main %}
    {% if error is defined and error %}
        <div class="alert alert-danger">
           {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="well">
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
            </div>
        </div>
    </div>
{% endblock %}
