{% extends "::base.html.twig" %}

{% block title %}Shopping cart{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>{{ 'title.shopping_cart'|trans }}</h1>
    {% if orders|length > 0 %}
        <table class="table table-responsive table-hover table-striped">
            {% for order in orders %}
                <tr>
                    <td>{{ order.item.title }}</td>
                    <td>{{ order.item.price|price }}</td>
                    <td>
                        {% if workflow_can(order, 'removing') %}
                            <form method="post"
                                  action="{{ path('order_apply_transition', {'transition': 'removing', 'hashid': order.id|hashid_encode}) }}">
                                <button class="btn btn-danger btn-sm" type="submit">
                                    <span class="fa fa-remove"> Remove </span>
                                </button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p>Total items: {{ orderCount }}</p>
        <p>Amount total: {{ totalAmount|price }}</p>
        <form method="post"
              action="{{ path('submit-cart') }}">
            <button class="btn btn-success" type="submit">
                <span class="fa fa-shopping-bag"> Buy! </span>
            </button>
        </form>
    {% else %}
        <h3>Empty</h3>
    {% endif %}
{% endblock %}
